# Provider
JSON_RPC_URL=
JSON_RPC_URL_FUJI=

# Discord
STRAWBERRY_WEBHOOK_URL=

# Database
PROD_WEBHOOK_URL=
DATABASE_WEBHOOK_URL=
DATABASE_URI=
DATABASE_NAME=
DATABASE_COLLECTION=

# Knock
KNOCK_TOKEN=

# Webhook
WEBHOOK_URL=
WEBHOOK_URL_FUJI=

# CoqNet
COQNET_GOGOPOOL_MAINNET_URL=
COQNET_GOGOPOOL_FUJI_URL=
COQNET_CHORUSONE_MAINNET_URL=
COQNET_CHORUSONE_FUJI_URL=
COQNET_ARTIFACT_MAINNET_URL=
COQNET_ARTIFACT_FUJI_URL=
COQNET_0XNODERUNNER_MAINNET_URL=
COQNET_ALTOSTAKE_MAINNET_URL=
COQNET_BAKERMAN_MAINNET_URL=
COQNET_BLOCKCHAIN_SERVICES_LABS_MAINNET_URL=
COQNET_CATCHALL_MAINNET_URL=
COQNET_CHRISTIANS_MAINNET_URL=
COQNET_D6CGTO6RZNJ_MAINNET_URL=
COQNET_ERWIN_MAINNET_URL=
COQNET_HALOAVAX_MAINNET_URL=
COQNET_JOEE_MAINNET_URL=
COQNET_PAULT_MAINNET_URL=
COQNET_POLKACHU_MAINNET_URL=
COQNET_PROVIROLL_MAINNET_URL=
COQNET_REDBOT_MAINNET_URL=
COQNET_RR_MAINNET_URL=
COQNET_SANGHREN_MAINNET_URL=
COQNET_SCORCHIO_MAINNET_URL=
COQNET_SPACED_MAINNET_URL=
COQNET_SPECTURA_MAINNET_URL=
COQNET_STEVENM_MAINNET_URL=
COQNET_T3ND0N_MAINNET_URL=
COQNET_ZALUTIONS_MAINNET_URL=
COQNET_ZWETSCHGE_MAINNET_URL=